{
  "CN": "Etcd",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "The_Internet",
      "O": "Kubernetes",
      "OU": "BY",
      "ST": "Kubernetes"
    }
  ]
}
